:root{
  --colorYellow:rgba(231,166,26,1);
}
.container-login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #030300;

}
.container-login{
  width: 60%;
  height: auto;
  display: flex;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 3px var(--colorYellow);
}
.login-form {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
}
.login-form h2 {
  color: rgba(231,166,26,1);
}
/* logo img */
.image-login{
  width: 50%;
  
}
.form-control {
  width: 100%;
  font-size: 14px;
  border-color:var(--colorYellow);
  border-radius: 4px;
  background-color: #030300;
  color: rgb(214, 201, 201);
  
}
.form-control::placeholder{
  color: rgb(214, 201, 201);
}
.form-control:focus{
  outline: none;
  background-color: #030300;
  border-color: var(--colorYellow);
  box-shadow: 0px 0px 8px 3px var(--colorYellow);
  color: azure;
}
/* Estilos para los mensajes de error */
.invalid-feedback {
  color: #c92d42;
  font-size: 13px;
  text-align: center;
}
.is-invalid {
  border-color: #dc3545;
}

.btn-login{
  width: 50%;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 3px var(--colorYellow);
  border: none;
  background-color: var(--colorYellow);
  margin-top: 10px;

}