.container_products {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.category-client {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 3px solid #d9d9d9;
  margin-bottom: 0.5rem;
}
.category-client h2 {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-bottom: 3px solid var(--colorMain);
  margin-bottom: -3px;
  text-align: center;
  max-width: 200px;
  font-size: 1rem;
  font-weight: bold;
}

.infinite-scroll-component {
  height: auto;
  overflow: hidden;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
.link-detalle {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
.link-detalle:hover {
  color: inherit;
  background-color: transparent;
}
.card_product-client {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 6px;
  margin: 0 auto;
}

.card-body-client {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid var(--colorGrisSoft2);
  border-radius: 0.25rem;
  transition: border 0.3s ease;

}
.card-body-client:hover {
  border: 1px solid var(--colorMain);
  cursor: pointer;
}
.image-product-client {
  width: 99px;
  height: 99px;
  margin: 0 auto;
}

.image-product-client img {
  max-width: 99%; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 99px;
}

/* Resto de tus estilos... */
/**info*/

.product-info-client {
  max-width: 100%;
  padding-left: 10px;
}
.product-info-client p {
  margin: 0;
}
.product-info-client span {
  font-size: small;
  margin: 2px 0;
  color: #7f7f7f;

}

.product-info-name-client {
  /*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  font-size: 0.75rem;
  font-weight: 600;
}
/*price*/
.product-price-name-client {
  color: var(--colorRed);
  display: flex;
  align-items: end;
}
.exponent {  
  margin-bottom: 10px;
  font-size: 0.75em;
}
@media only screen and (max-width: 430px) {
  .card-body-client {
    height: 140px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    border: 1px solid var(--colorGrisSoft2);
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 5px;
  }

  .product-info-client {
    max-width: 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.not-found-result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}
.contenedor-buscador{
  width: 60%;
  min-width: 400px;
  height: 50px;
  margin-top: 10px;
  
}
.contatiner-header-client{
  background-color: white;
}