:root {
  --colorMain: #3c8dbb;
}

.container_products {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 3px solid #d9d9d9;
}
.category h2 {
  width: 40%;
  border-bottom: 3px solid #007bff;
  margin-bottom: -3px;
  text-align: center;
  max-width: 200px;
}
.infinite-scroll {
  width: 100%;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
.link-detalle {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
.link-detalle:hover {
  color: inherit;
  background-color: transparent;
}
.card_product {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 6px;
  margin: 0 auto;
}

.card-body {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid #aea6a6;
  border-radius: 0.25rem;
}
.card-body:hover {
  border: 2px solid var(--colorMain);
  cursor: pointer;
}
.image-product {
  width: 99px;
  height: 99px;
  margin: 0 auto;
}

.image-product img {
  max-width: 99%; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 99px;
}

/* Resto de tus estilos... */
/**info*/

.product-info {
  max-width: 100%;
  padding-left: 10px;

}
.product-info p {
  margin: 0;
}
.product-info span {
  font-size: small;
  margin: 2px 0;
  color: #7f7f7f;
  opacity: 0.7;
}

.product-info-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  max-width: 100%;
  font-weight: 600;
}
/*price*/
.product-price {
  color: #ff0001;
  display: flex;
  /* align-items: end; */
  /* Change the name of the class */
}
.exponent {
  position: relative;
  top: -0.5em;
  font-size: 0.75em;
}
@media only screen and (max-width: 430px) {
  .card-body {
    height: 140px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    border: 2px solid #aea6a6;
    backdrop-filter: blur(6px);
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 5px;
  }
 
  .product-info {
    max-width: 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

  }

}
