.header-landing-bg{
    background: rgb(44,90,164);
    /* background: linear-gradient(270deg, rgba(44,90,164,1) 0%, rgba(12,55,124,1) 52%, rgba(1,37,93,1) 100%); */
    background: linear-gradient(270deg, rgba(1,37,93,1)  0%, rgba(12,55,124,1) 52%, rgba(44,90,164,1)  100%);

    padding: .7rem 0;
}
.header-landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-logo{
    display: inherit;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
}
.header-logo h2{
    margin: 0;
    font-weight: 600;
    color: var(--colorWhite);
    font-size: 1.4rem;
    padding-top: 0.4rem;
}
.header-icons{
    align-items: center;
    display: inherit;
    gap: .5rem;
}

.header-icons-cart{
    color: var(--colorWhite);
    text-decoration: none;
    position: relative;
}
.header-icons-cart-count{
    position: absolute;
    top: -4px;
    right: -5px;
    background-color: var(--colorRed);
    color: var(--colorWhite);
    width: 1.1rem;
    height: 1.1rem;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    padding-top: 2px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

@media(min-width: 990px){
    .header-landing-bg{
        padding: 1rem 0px;
    }
}