 /* Search bar  */
 .search-bar{
    display: flex;
    gap: 10px;
    height: auto;
    align-items: center;
}
.row-table-notExist{
    text-align: center;
}
.btn-close-search{
    position: absolute;
    top: 7px;
    right: 8px;
}

.content-search{
    width: 100%;
    position: relative;
}
